* {
  font-family: "Oswald", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar.scrolling-active {
  background-color: white;
  padding: 15px 0 15px 0;
}

.hero {
  background-image: url("img/banner 3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero h4 {
  --animate-delay: 0.7s;
}

.hero h3 {
  --animate-delay: 1.2s;
}

.hero button {
  --animate-delay: 1.7s;
}

.area {
  padding: 100px 0 100px 0;
}

.area .carousel-item img {
  height: 80vh;
}
.area img {
  height: 80vh;
  object-fit: cover;
}

.facility {
  padding: 100px 0 100px 0;
}
.facility h5 {
  line-height: 1.8;
  align-items: center;
  column-gap: 10px;
}

.facility .accordion .accordion-button:focus {
  box-shadow: none;
}
.destination {
  padding: 100px 0 100px 0;
}
.destination img {
  height: 80%;
  width: 100%;
}

.destination h2 {
  padding-top: 11px;
}

footer {
  background-color: black;
}
